In [2]:
def sqr(n,m):
    return n**m

In [5]:
a= sqr(2,3)

In [8]:
a

8

In [9]:
def sqr1(n,m):
     print(n**m)

In [11]:
sqr1(2,3)

8

In [14]:
b=sqr1(2,3)

8

In [15]:
b

In [16]:
lb=lambda x: x**2

In [17]:
lb(2)

4

In [18]:
lm1=lambda n,m: n**m

In [19]:
lm1(2,3)

8

In [20]:
s= 'alok ranjan'
lb2=lambda x: x.upper()

In [21]:
lb2(s)

'ALOK RANJAN'

In [22]:
c_to_f=lambda c: (9/5)*c +32

In [23]:
c_to_f(72)

161.6

In [24]:
c_to_f(100)

212.0

In [25]:
abc=lambda x,y: x if x>y else y

In [26]:
abc(45,34)

45

In [27]:
abc(12,47)

47

In [28]:
l=[1,2,3,4,5]
l1=[]
for i in l:
    l1.append(i**2)

In [29]:
l1

[1, 4, 9, 16, 25]

In [30]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [33]:
l1=[]
for i in range(1,20):
    l1.append(i**2)

In [34]:
l1

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [40]:
l1=[]
for i in range(1,20):
    if i%2==0:
        l1.append(i**2)

    else:
        l1.append(i**3)

In [41]:
l1

[1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859]

In [39]:
[i**2 for i in range(1,20) if i%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [42]:
[i**2 if i%2==0 else i**3 for i in range(1,20) ]

[1,
 4,
 27,
 16,
 125,
 36,
 343,
 64,
 729,
 100,
 1331,
 144,
 2197,
 196,
 3375,
 256,
 4913,
 324,
 6859]

In [43]:
dt= {'a':1,'b':2,'c':3,'d':4,'e':5}

In [44]:
type(dt)

dict

In [45]:
dt.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [46]:
dt.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [47]:
dt.values()

dict_values([1, 2, 3, 4, 5])

In [49]:
for k,v in dt.items():
    print(k,v**3)

a 1
b 8
c 27
d 64
e 125

In [50]:
for k in dt.keys():
    print(k)

a
b
c
d
e

In [51]:
for v in dt.values():
    print(v)

1
2
3
4
5

In [52]:
{k:v**3 for k,v in dt.items()}

{'a': 1, 'b': 8, 'c': 27, 'd': 64, 'e': 125}

In [53]:
dt

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [54]:
import os

In [57]:
f=open('Nex_File.txt','w')

In [58]:
f.write("alok ranjan")

11

In [59]:
f.close()

In [65]:
f= open('Nex_File.txt','r')
f.read()

' 5789456213 pregrad'

In [62]:
f= open('Nex_File.txt','a')
f.write(' 5467895')
f.close()

In [64]:
f= open('Nex_File.txt','w')
f.write(' 5789456213 pregrad')
f.close()

In [66]:
os.path.getsize('Nex_File.txt')

19

In [68]:
os.remove('Nex_File.txt')

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Nex_File.txt'

In [69]:
with open('Nex_File.txt', 'a') as f:
    f.write('AI Ml Batch ')

In [70]:
with open('Nex_File.txt', 'r') as f:
    print(f.read())

 5789456213 pregradAI Ml Batch

In [73]:
os.remove('Nex_File.txt')

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Nex_File.txt'

In [75]:
try:
    os.remove('Nex_File.txt')

except Exception as e:
    print("get error",e)

get error [WinError 32] The process cannot access the file because it is being used by another process: 'Nex_File.txt'