In [2]:
d1= {'name': 'alok ranjan', 'number': 1234567895, 'email': 'alokranjan.ucer@gmail.com'}

In [3]:
type(d1)

dict

In [4]:
len(d1)

3

In [5]:
d1['name']

'alok ranjan'

In [6]:
d1['email']

'alokranjan.ucer@gmail.com'

In [7]:
d1['number']=1234567995

In [8]:
d1

{'name': 'alok ranjan',
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [9]:
d1.keys()

dict_keys(['name', 'number', 'email'])

In [10]:
d1

{'name': 'alok ranjan',
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [11]:
d1.values()

dict_values(['alok ranjan', 1234567995, 'alokranjan.ucer@gmail.com'])

In [12]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

In [13]:
car['color']='red'

In [14]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [15]:
car['color']=['red','black','blue']

In [16]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': ['red', 'black', 'blue']}

In [17]:
d2={["name","email"]:['alok','alok@gmail.com']}

TypeError: unhashable type: 'list'

In [18]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', ['red', 'black', 'blue'])])

In [19]:
car.update({'color':['white']})

In [20]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': ['white']}

In [21]:
car.update({'color':"white"})

In [22]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [23]:
car.pop('color')

'white'

In [24]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [25]:
car.clear()

In [26]:
car

{}

In [27]:
del car

In [28]:
car

NameError: name 'car' is not defined

In [29]:
d1

{'name': 'alok ranjan',
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [31]:
x=d1.keys()

In [32]:
x

dict_keys(['name', 'number', 'email'])

In [33]:
x[0]

TypeError: 'dict_keys' object is not subscriptable

In [34]:
d1

{'name': 'alok ranjan',
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [35]:
d1['name'] = {"name":"alok",'mobile':45565}

In [36]:
d1

{'name': {'name': 'alok', 'mobile': 45565},
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [37]:
d1['name']={1455,2558,455}

In [38]:
d1

{'name': {455, 1455, 2558},
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com'}

In [39]:
d1['bool']=True

In [40]:
d1

{'name': {455, 1455, 2558},
 'number': 1234567995,
 'email': 'alokranjan.ucer@gmail.com',
 'bool': True}

# Tuple

In [41]:
t1=('alok',1233455,True)

In [42]:
t1

('alok', 1233455, True)

In [43]:
type(t1)

tuple

In [44]:
len(t1)

3

In [45]:
t1[0]

'alok'

In [73]:
t2=("apple", "banana", "cherry")

In [74]:
t2[:]

('apple', 'banana', 'cherry')

In [50]:
t2[2:]

('cherry',)

In [49]:
t2[-1]

'cherry'

In [75]:
t3= ('apple',)

In [76]:
type(t3)

tuple

In [77]:
t2 += t3

In [78]:
t2

('apple', 'banana', 'cherry', 'apple')

In [53]:
t3

'name'

In [54]:
t1

('alok', 1233455, True)

In [55]:
t1[0]

'alok'

In [56]:
l1= list(t1)

In [57]:
l1

['alok', 1233455, True]

In [58]:
l1[2]=False

In [59]:
l1

['alok', 1233455, False]

In [60]:
t1=tuple(l1)

In [61]:
t1

('alok', 1233455, False)

In [65]:
t1 += t3

In [66]:
t1

('alok', 1233455, False, 'name')

In [67]:
del t1

In [68]:
t1

NameError: name 't1' is not defined

# Set

In [103]:
s1 = {"alok",4558,True}

In [104]:
s1

{4558, True, 'alok'}

In [105]:
type(s1)

set

In [106]:
len(s1)

3

TypeError: 'set' object is not subscriptable

In [108]:
for i in range(len(s1)):
    f

0
1
2

In [110]:

for i in s1:
    if i =='alok':
        print(i)

alok

In [82]:
s1.add('alok@gmail.com')

In [83]:
s1

{4558, True, 'alok', 'alok@gmail.com'}

In [84]:
s2={8000,'pregrad'}

In [85]:
s1.update(s2)

In [86]:
s1

{4558, 8000, True, 'alok', 'alok@gmail.com', 'pregrad'}

In [87]:
s3=['Ai_Ml',True,22444]

In [88]:
s1.update(s3)

In [89]:
s1

{22444, 4558, 8000, 'Ai_Ml', True, 'alok', 'alok@gmail.com', 'pregrad'}

In [90]:
t4=(1244,'xyz')

In [91]:
s1.update(t4)

In [92]:
s1

{1244,
 22444,
 4558,
 8000,
 'Ai_Ml',
 True,
 'alok',
 'alok@gmail.com',
 'pregrad',
 'xyz'}

In [93]:
s1.remove('alok')

In [94]:
s1

{1244, 22444, 4558, 8000, 'Ai_Ml', True, 'alok@gmail.com', 'pregrad', 'xyz'}

In [95]:
s1.clear()

In [96]:
s1

set()

In [97]:
del s1

In [98]:
s1

NameError: name 's1' is not defined

In [111]:
s1

{4558, True, 'alok'}

In [112]:
l1= list(s1)

In [113]:
l1

[True, 'alok', 4558]

3