In [1]:
2+2

4

In [2]:
a=2
b=3

In [3]:
a

2

In [4]:
b

3

In [5]:
c= a+b

In [6]:
print(c)

5

In [7]:
a=3.14

In [8]:
b=5.2

In [9]:
c=a+b
print(c)

8.34

In [10]:
name='alok'

In [11]:
type(name)

str

In [12]:
email= "alokranj@gmail.com"

In [14]:
print(email)

alokranj@gmail.com

In [15]:
name="alok ranjan"

In [16]:
print(name.upper())

ALOK RANJAN

In [17]:
print(name.lower())

alok ranjan

In [18]:
print(name.title())

Alok Ranjan

In [19]:
print(name.capitalize())

Alok ranjan

In [20]:
name = " alok ranjan "

In [21]:
name

' alok ranjan '

In [22]:
print(name.strip())

alok ranjan

In [24]:
name.strip()

'alok ranjan'

In [25]:
a= "Hello World"

In [27]:
print(a.replace('World','alok'))

Hello alok

In [29]:
a="hello"
b=" world"

print(a+b)

hello world

In [32]:
a = "Hello World"
len(a)

11

In [33]:
a[6]

'W'

In [34]:
a[-5]

'W'

In [36]:
a[2:4]

'll'

In [41]:
a

'Hello World'

In [40]:
a[1:10:3]

'eoo'

In [51]:
a="0123456789"

In [52]:
type(a)

str

In [53]:
len(a)

10

In [54]:
a[1:9:1]

'12345678'

In [ ]:
a="0123456789"

In [57]:
a[1:10:3]

'147'

In [58]:
a[5]

'5'

In [59]:
a[5]=2

TypeError: 'str' object does not support item assignment

In [60]:
name="alok"

In [61]:
name

'alok'

In [62]:
name="ranjan"

In [63]:
name

'ranjan'

# List

In [64]:
l=["alok",1213,True,2.45]

In [65]:
print(l)

['alok', 1213, True, 2.45]

In [66]:
type(l)

list

In [67]:
len(l)

4

In [68]:
l[1]

1213

In [71]:
l[1:3]

[1213, True]

In [72]:
l1 =["apple", "banana", "cherry", "apple", "cherry"]
print(l1)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [73]:
len(l1)

5

In [75]:
l1[-2]

'apple'

In [76]:
l2=["apple", "banana", "cherry", "apple", "cherry",[122,"alok",2.34]]

In [77]:
l2[-1]

[122, 'alok', 2.34]

In [79]:
l2[-1][-2]

'alok'

In [80]:
l2[1]="red"

In [81]:
l2

['apple', 'red', 'cherry', 'apple', 'cherry', [122, 'alok', 2.34]]

In [83]:
l2.insert(1,'banana')

In [84]:
l2

['apple',
 'banana',
 'banana',
 'red',
 'cherry',
 'apple',
 'cherry',
 [122, 'alok', 2.34]]

In [85]:
l2.append("alok")

In [86]:
l2

['apple',
 'banana',
 'banana',
 'red',
 'cherry',
 'apple',
 'cherry',
 [122, 'alok', 2.34],
 'alok']

In [98]:
l3= ["apple", "banana", "cherry"]
l4=["mango", "pineapple", "papaya"]
l3.extend(l4)

In [88]:
l3

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [90]:
l2.remove("banana")

In [91]:
l2

['apple',
 'banana',
 'red',
 'cherry',
 'apple',
 'cherry',
 [122, 'alok', 2.34],
 'alok']

In [92]:
l3.pop(3)

'mango'

In [93]:
l3

['apple', 'banana', 'cherry', 'pineapple', 'papaya']

In [94]:
l3.clear()

In [95]:
l3

[]

In [96]:
del l3

In [97]:
l3

NameError: name 'l3' is not defined

In [99]:
l3

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [100]:
l3.sort()

In [101]:
l3

['apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple']

In [102]:
l3.sort(reverse=True)

In [103]:
l3

['pineapple', 'papaya', 'mango', 'cherry', 'banana', 'apple']

In [109]:
l6=[13,45,20,10,4,13]

In [110]:
l6.sort()

In [111]:
l6

[4, 10, 13, 13, 20, 45]

In [112]:
l6.sort(reverse=True)

In [113]:
l6

[45, 20, 13, 13, 10, 4]

In [115]:
l6

[45, 20, 13, 13, 10, 4]

In [116]:
l6.remove(13)

In [117]:
l6

[45, 20, 13, 10, 4]

In [118]:
l6.remove(13)

In [119]:
l6

[45, 20, 10, 4]